# Data Processing pipeline

- index of sentences
- full english sentence (without preprocessing)
- full german sentence  (without preprocessing)
- english sentnece no stop words, punctuation
- german sentnece no stop words, punctuation
- score
- verbs in english (separated by a space and lemmatized)
- verbs in german (separated by a space and lemmatized)
- adjectives in english (separated by a space and lemmatized)
- adjectives in german (separated by a space and lemmatized)
- common nouns in english (separated by a space and lemmatized)
- common nouns in german (separated by a space and lemmatized)
- Nouns of persons
- Entities or organizations

In [3]:
import pandas as pd
import spacy
import os

In [7]:
# nlp_en = spacy.load("en_core_web_md")
# nlp_ge = spacy.load("de_core_news_md")

import en_core_web_md
import de_core_news_md
nlp_en = en_core_web_md.load()
nlp_ge = de_core_news_md.load()

def spacy_analysis(sentence,nlp):
    doc = nlp(sentence)
    for token in doc:
        print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
              token.shape_, token.is_alpha, token.is_stop,token.vector.shape)

In [8]:
flatten = lambda l: [item for sublist in l for item in sublist]

# some helper functions
def prepare_data(filename):
    data = [l.strip().split() + ['</s>'] for l in open(filename) if l.strip()]
    corpus = flatten(data)
    vocab = set(corpus)
    return vocab, data

In [9]:
def extract_sentences(filename,lower=False):
    if lower:
        data = [l.lower().strip() for l in open(filename) if l.strip()]
    else:
        data = [l.strip() for l in open(filename) if l.strip()]
    return data

### Load Dataset

In [10]:
# sentences_en = pd.DataFrame(extract_sentences('../data/en_de/train.ende.src'),columns = ['sentences_en'])
# sentences_ge = pd.DataFrame(extract_sentences('../data/en_de/train.ende.mt'),columns = ['sentences_ge'])
# scores = pd.read_csv('../data/en_de/train.ende.scores',header=None)
# scores = scores.rename(columns={0:"scores"})

In [11]:
# dataset = pd.merge(sentences_en,sentences_ge,left_index=True,right_index=True)
# dataset = pd.merge(dataset,scores,left_index=True,right_index=True)

### Datasets ie also validation

In [43]:
path_train_en = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'train.ende.src')
path_train_ge = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'train.ende.mt')
path_train_scores = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'train.ende.scores')

train_sentences_en = pd.DataFrame(extract_sentences(path_train_en),columns = ['sentences_en'])
train_sentences_ge = pd.DataFrame(extract_sentences(path_train_ge),columns = ['sentences_ge'])
train_scores = pd.read_csv(path_train_scores,header=None)
train_scores = train_scores.rename(columns={0:"scores"})

train_dataset = pd.merge(train_sentences_en,train_sentences_ge,left_index=True,right_index=True)
train_dataset = pd.merge(train_dataset,train_scores,left_index=True,right_index=True)

path_dev_en = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'dev.ende.src')
path_dev_ge = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'dev.ende.mt')
path_dev_scores = os.path.join(os.path.dirname(os.getcwd()), 'data', 'en-de', 'dev.ende.scores')

dev_sentences_en = pd.DataFrame(extract_sentences(path_dev_en),columns = ['sentences_en'])
dev_sentences_ge = pd.DataFrame(extract_sentences(path_dev_ge),columns = ['sentences_ge'])
dev_scores = pd.read_csv(path_dev_scores,header=None)
dev_scores = dev_scores.rename(columns={0:"scores"})

dev_dataset = pd.merge(dev_sentences_en,dev_sentences_ge,left_index=True,right_index=True)
dev_dataset = pd.merge(dev_dataset,dev_scores,left_index=True,right_index=True)

dataset = pd.concat([train_dataset, dev_dataset])
dataset = dataset.reset_index(drop=True)

### Sentence length

In [46]:
def sentence_length(sentence):
    leng=0
    sentence=sentence.split(" ")
    for token in sentence:
        leng+=1
    return leng

In [ ]:
def difference_length(a, b):
    lenga=0
    a=a.split(" ")
    for token in a:
        lenga+=1
    
    lengb=0
    b=b.split(" ")
    for token in b:
        lengb+=1
    
    return abs(lenga-lengb)

In [47]:
dataset['english_sentence_length'] = dataset['sentences_en'].apply(sentence_length)
dataset['german_sentence_length'] = dataset['sentences_ge'].apply(sentence_length)

In [48]:
dataset['sentence_length_difference'] = dataset['english_sentence_length'] - dataset['german_sentence_length']

### POS extraction

In [49]:
def extract_pos(pos,sentence,nlp):
    doc = nlp(sentence)
    res = ""
    for token in doc:
        if token.pos_==pos:
            res += token.text + " "
    res = res.strip()
    return res

#### Add verbs

In [50]:
# dataset["german_verbs"] = dataset.sentences_ge.apply(lambda x:extract_pos("VERB",x,nlp_ge))
# dataset["english_verbs"] = dataset.sentences_en.apply(lambda x:extract_pos("VERB",x,nlp_en))

In [114]:
# dataset['verbs_diff'] = dataset.apply(lambda row: difference_length(row['english_verbs'], row['german_verbs']),axis=1)

#### Add adjectives

In [51]:
# dataset["german_adjectives"] = dataset.sentences_ge.apply(lambda x:extract_pos("ADJ",x,nlp_ge))
# dataset["english_adjectives"] = dataset.sentences_en.apply(lambda x:extract_pos("ADJ",x,nlp_en))

In [117]:
# dataset['adjectives_diff'] = dataset.apply(lambda row: difference_length(row['english_adjectives'], row['german_adjectives']),axis=1)

#### Add adverbs

In [52]:
# dataset["german_adverbs"] = dataset.sentences_ge.apply(lambda x:extract_pos("ADV",x,nlp_ge))
# dataset["english_adverbs"] = dataset.sentences_en.apply(lambda x:extract_pos("ADV",x,nlp_en))

In [118]:
# dataset['adverbs_diff'] = dataset.apply(lambda row: difference_length(row['english_adverbs'], row['german_adverbs']),axis=1)

#### Add nouns

In [53]:
# dataset["german_nouns"] = dataset.sentences_ge.apply(lambda x:extract_pos("NOUN",x,nlp_ge))
# dataset["english_nouns"] = dataset.sentences_en.apply(lambda x:extract_pos("NOUN",x,nlp_en))

In [119]:
# dataset['nouns_diff'] = dataset.apply(lambda row: difference_length(row['english_nouns'], row['german_nouns']),axis=1)

### Remove punctuation

In [54]:
def remove_punct(sentence, nlp):
    sentence=nlp(sentence)
    no_punct_sentence = ""
    for token in sentence:
        if not token.is_punct:
            no_punct_sentence+= (token.text + " ")
    
    no_punct_sentence=no_punct_sentence.strip()
    return no_punct_sentence

In [55]:
# dataset['english_no_punctuation'] = dataset['sentences_en'].apply(lambda x: remove_punct(x, nlp_en))
# dataset['german_no_punctuation'] = dataset['sentences_ge'].apply(lambda x: remove_punct(x, nlp_ge))

### Remove stopwords

In [29]:
from spacy.lang.en.stop_words import STOP_WORDS as sw_en
from spacy.lang.de.stop_words import STOP_WORDS as sw_ge

In [30]:
def remove_sw(sentence, nlp):
    sentence = nlp(sentence)
    no_sw_sentence = ""
    
    if nlp==nlp_en:
        stop_words=sw_en
    elif nlp==nlp_ge:
        stop_words=sw_ge
    else:
        return('Use valid language: en or ge')
    for token in sentence:
        if token.text not in stop_words:
            no_sw_sentence += token.text + " "
    
    no_sw_sentence=no_sw_sentence.strip()
    return no_sw_sentence

In [56]:
# dataset['english_no_stop_words'] = dataset['sentences_en'].apply(lambda x: remove_sw(x, nlp_en))
# dataset['german_no_stop_words'] = dataset['sentences_ge'].apply(lambda x: remove_sw(x, nlp_ge))

### Lemmatize

In [32]:
def lemmatizer(sentence, nlp):
    sentence = nlp(sentence)
    lemmatized_sentence = ""
    for token in sentence:
        lemmatized_sentence += token.lemma_ + " "
    
    lemmatized_sentence = lemmatized_sentence.strip()
    return lemmatized_sentence

In [57]:
# dataset['english_lemma'] = dataset['sentences_en'].apply (lambda x: lemmatizer(x, nlp_en))
# dataset['german_lemma'] = dataset['sentences_ge'].apply (lambda x: lemmatizer(x, nlp_ge))

### Sentiment Analysis

#### Sentences

In [34]:
from textblob import TextBlob as textblob_en
from textblob_de import TextBlobDE as textblob_ge

In [35]:
def sentiment(sentence, textblob):
    text = textblob(sentence)
    score = text.sentiment.polarity
    return score

In [58]:
# dataset['english_sentence_sentiment'] = dataset['sentences_en'].apply(lambda x: sentiment(x, textblob_en))
# dataset['german_sentence_sentiment'] = dataset['sentences_ge'].apply(lambda x: sentiment(x, textblob_ge))

In [60]:
# dataset['english_sentence_lemma_sentiment'] = dataset['english_lemma'].apply(lambda x: sentiment(x, textblob_en))
# dataset['german_sentence_lemma_sentiment'] = dataset['german_lemma'].apply(lambda x: sentiment(x, textblob_ge))

In [37]:
def stdz(data):
    data_stdz = (data - data.mean())/data.std()
    return data_stdz

In [59]:
# dataset['std_english_sentence_sentiment']= stdz(dataset['english_sentence_sentiment'])
# dataset['std_german_sentence_sentiment']= stdz(dataset['german_sentence_sentiment'])

#### Get the maximal Sentiment per sentence

In [96]:
# mask_lemm_english = abs(dataset['english_sentence_lemma_sentiment'])>abs(dataset['english_sentence_sentiment'])
# mask_lemm_german = abs(dataset['german_sentence_lemma_sentiment'])>abs(dataset['german_sentence_sentiment'])

In [97]:
# dataset['max_sentiment_english'] = dataset['english_sentence_sentiment']
# dataset['max_sentiment_english'].at[mask_lemm_english] = dataset['english_sentence_lemma_sentiment'][mask_lemm_english]

# dataset['max_sentiment_german']=dataset['german_sentence_sentiment']
# dataset['max_sentiment_german'].at[mask_lemm_english] = dataset['german_sentence_lemma_sentiment'][mask_lemm_english]

/Users/theophile/anaconda3/envs/nlp/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [102]:
# dataset['std_max_english_sentiment']= stdz(dataset['max_sentiment_english'])
# dataset['std_max_german_sentiment']= stdz(dataset['max_sentiment_german'])

#### Per POS

#### Store/load dataset

In [8]:
import pandas as pd
# dataset.to_pickle('../data/dataset_v1.pickle')
dataset = pd.read_pickle("../data/dataset_v1.pickle")

### Extra Work on the correlations dataset

In [15]:
dataset_em = pd.read_pickle('../data/dataset_correlations_v1.pickle')

In [128]:
# dataset_em['std_correlations'] = stdz(dataset_em['correlation'])

In [ ]:
# dataset_em['english_em_verbs'] = dataset_em['sentences_en_final'].apply(lambda x:extract_pos("VERB",x,nlp_en))
# dataset_em["german_verbs"] = dataset_em['sentences_ge_final'].apply(lambda x:extract_pos("VERB",x,nlp_ge))

In [ ]:
# dataset_em["german_adjectives"] = dataset_em.sentences_ge.apply(lambda x:extract_pos("ADJ",x,nlp_ge))
# dataset_em["english_adjectives"] = dataset_em.sentences_en.apply(lambda x:extract_pos("ADJ",x,nlp_en))

In [ ]:
# dataset_em["german_adverbs"] = dataset_em.sentences_ge.apply(lambda x:extract_pos("ADV",x,nlp_ge))
# dataset_em["english_adverbs"] = dataset_em.sentences_en.apply(lambda x:extract_pos("ADV",x,nlp_en))

In [ ]:
# dataset_em["german_nouns"] = dataset_em.sentences_ge.apply(lambda x:extract_pos("NOUN",x,nlp_ge))
# dataset_em["english_nouns"] = dataset_em.sentences_en.apply(lambda x:extract_pos("NOUN",x,nlp_en))

In [55]:
# dataset_em['embedded_words_matched_max'] = dataset_em[['length_ge','length_en']].max(axis=1)
# dataset_em['embedded_words_matched_min'] = dataset_em[['length_ge','length_en']].min(axis=1)

In [77]:
# mask = dataset_em.mask((dataset_em['length_en']!=0 ) &  (dataset_em['distance']!=0))

In [93]:
# Index_label = dataset_em.query('length_en > 0' and 'length_ge > 0').index.tolist()

In [96]:
# dataset_em['weights2'] = 0

In [101]:
dataset_em['weights2'] = dataset_em['embedded_words_matched_min']/(dataset_em['embedded_words_matched_max'] + 
                                      dataset_em['non_translated_words'])

In [109]:
# dataset_em.nsmallest(10, 'scores')

In [110]:
dataset_em[dataset_em['weighted_corr']==0]=dataset_em['weighted_corr'].mean()

In [60]:
dataset_em['weights2'] = (dataset_em['embedded_words_matched_max'] - dataset_em['embedded_words_matched_min'])

In [61]:
dataset_em['weights2']=dataset_em['weights2'].fillna(0)

In [62]:
dataset_em['weighted_corr2'] = dataset_em['weights2']*dataset_em['correlation']

In [63]:
dataset_em['weighted_corr2'].corr(dataset_em['scores'])

0.004337018189317759

In [121]:
dataset_em

,sentences_en,sentences_ge,scores,person,sentences_en_no_propnouns,sentences_ge_no_propnouns,sentences_en_clean,sentences_ge_clean,non_translated_words,sentences_en_cleaner,...,sentences_en_final,sentences_ge_final,length_ge,length_en,distance,correlation,embedded_words_matched_max,embedded_words_matched_min,weights,weighted_corr
0,José Ortega y Gasset visited Husserl at Freibu...,1934 besuchte José Ortega y Gasset Husserl in ...,1.101697,"[José Ortega y Gasset, Husserl, Freiburg]",visited at in 1934.,1934 besuchte in .,visited at in,besuchte in,0.0,visited,...,visited,besuchte,1.0,1.0,0.0,0.518761,1.0,1.0,1.000000,0.518761
1,"However, a disappointing ninth in China meant ...",Eine enttäuschende Neunte in China bedeutete j...,-0.516656,[China],"However, a disappointing ninth in meant that ...",Eine enttäuschende Neunte in bedeutete jedoch...,however a disappointing ninth in meant that he...,eine enttäuschende neunte in bedeutete jedoch ...,0.0,however disappointing ninth meant dropped back...,...,however disappointing ninth meant dropped back...,enttäuschende neunte bedeutete jedoch gesamtwe...,8.0,8.0,0.0,0.619618,8.0,8.0,1.000000,0.619618
2,"In his diary, Chase wrote that the release of ...","In seinem Tagebuch, Chase schrieb, dass die Ve...",-2.226388,"[Chase, Mason, Slidell]","In his diary, wrote that the release of and ...","In seinem Tagebuch, schrieb, dass die Veröffe...",in his diary wrote that the release of and was...,in seinem tagebuch schrieb dass die veröffentl...,0.0,diary wrote release like gall wormwood,...,diary wrote release like gall wormwood,tagebuch schrieb veröffentlichung galle wermut,5.0,6.0,1.0,0.633080,6.0,5.0,0.833333,0.527567
3,Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,-0.827379,[],Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,heavy arquebuses mounted on wagons were called...,schwere arquebuses auf waggons montiert wurden...,4.0,heavy mounted wagons called,...,heavy mounted wagons called,schwere waggons montiert wurden genannt,5.0,4.0,-1.0,0.626568,5.0,4.0,0.444444,0.278475
4,Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,0.364695,[],Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,once north pacific salmon die off after spawni...,sobald der nordpazifische lachs nach dem laich...,0.0,north pacific salmon die spawning usually loca...,...,north pacific salmon die spawning usually loca...,sobald lachs laichen abstirbt fressen regel lo...,11.0,14.0,3.0,0.583080,14.0,11.0,0.785714,0.458134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,"The gang absconded with $2,000 cash in the sec...",Die Bande flüchtete mit $2.000 Bargeld in den ...,0.164712,"[St. Joseph, Louisiana]","The gang absconded with $2,000 cash in the sec...",Die Bande flüchtete mit $2.000 Bargeld in den ...,the gang absconded with cash in the second rob...,die bande flüchtete mit bargeld in den zweiten...,2.0,gang absconded cash second robbery took shelte...,...,gang absconded cash second robbery took shelte...,bande flüchtete bargeld zweiten raub nahm schu...,10.0,10.0,0.0,0.582558,10.0,10.0,0.833333,0.485465
7996,The Irish settlers arrives from Northern Irela...,Die irischen Siedler kommen kurz nach den Loya...,0.394755,[],The Irish settlers arrives from Northern Irela...,Die irischen Siedler kommen kurz nach den Loya...,the irish settlers arrives from northern irela...,die irischen siedler kommen kurz nach den loya...,0.0,irish settlers arrives northern ireland shortl...,...,irish settlers arrives northern ireland shortl...,irischen siedler kommen kurz loyalisten nordir...,6.0,7.0,1.0,0.684928,7.0,6.0,0.857143,0.587081
7997,Volcanics include dacite breccia and small rem...,Zu den Vulkanen gehören Dacite Breccia und kle...,0.241944,[],Volcanics include dacite breccia and small rem...,Zu den Vulkanen gehören Dacite Breccia und kle...,volcanics include dacite breccia and small rem...,zu den vulkanen gehören dacite breccia und kle...,3.0,volcanics include small remnants hornblende la...,...,volcanics include small remnants hornblende la...,vulkanen gehören kleine reste hornblende lavas...,9.0,11.0,2.0,0.585751,11.0,9.0,0.642857,0.376554
7998,The Fort Concho Museum acquired the Schoolhous...,Das Fort Concho Museum erwarb 1946 das Schulha...,0.360707,[Fort Concho Museum],The acquired the Schoolhouse in 1946 and rest...,Das erwarb 1946 das Schulhaus und restauriert...,the acquired the schoolhouse in and restored it,das erwarb das schulhaus und restaurierte es,0.0,acquired schoolhouse restored,...,acquired schoolhouse restored,erwarb schulhaus restaurierte,3.0,3.0,0.0,0.659042,3.0,3.0,1.000000,0.659042
7999,"Motor lorries caked with dust, also drove west...","Motorlastwagen mit Staub verkleidet, fuhr auch...",0.214115,[],"Motor lorries caked with dust, also drove west...","Motorlastwagen mit Staub verkleidet, fuhr auch...",motor lorries caked with dust also drove westw...,motorlastwagen mit staub verkleidet fuhr auch ...,0.0,motor lorries caked dust also drove westwards ...,...,motor lorries caked dust also drove westwards ...,motor lastwagen staub verkleidet fuhr westen s...,8.0,11.0,3.0,0.637429,11.0,8.0,0.727273,0.463585

In [66]:
dataset_em.nsmallest(10, 'scores')

,sentences_en,sentences_ge,scores,person,sentences_en_no_propnouns,sentences_ge_no_propnouns,sentences_en_clean,sentences_ge_clean,non_translated_words,sentences_en_cleaner,...,length_ge,length_en,distance,correlation,embedded_words_matched_max,embedded_words_matched_min,weights,weighted_corr,weights2,weighted_corr2
3917,"The Mummy, A Handbook of Egyptian Funerary Arc...","The Mummy, A Handbook of Egyptian Funerary Arc...",-8.140713,[],"The Mummy, A Handbook of Egyptian Funerary Arc...","The Mummy, A Handbook of Egyptian Funerary Arc...",the mummy a handbook of egyptian funerary arch...,the mummy a handbook of egyptian funerary arch...,5,,...,0,0,0,0.615833,0,0,0.000000,0.000000,0,0.000000
6975,He vacated the WWA Cruiserweight title in Apri...,Nach seiner Rückkehr zum WWF verließ er im Apr...,-7.481519,[WWF],He vacated the WWA Cruiserweight title in Apri...,Nach seiner Rückkehr zum verließ er im April ...,he vacated the wwa cruiserweight title in apri...,nach seiner rückkehr zum verließ er im april d...,2,vacated title april returning,...,4,4,0,0.587837,4,4,0.666667,0.391891,0,0.000000
2080,"Haroun and S.A. Mourad, Proceedings of Interna...","Haroun and S.A. Mourad, Proceedings of Interna...",-7.148534,"[Haroun, S.A. Mourad, Cairo, Egypt]","and , Proceedings of International Colloquium...","and , Proceedings of International Colloquium...",and proceedings of international colloquium on...,and proceedings of international colloquium on...,1,proceedings international structural engineeri...,...,5,6,1,0.630766,6,5,0.714286,0.450547,1,0.630766
6229,Boone Trails Grand Towers Gravois Trail New Ho...,Boone Trails Grand Towers Gravois Trail New Ho...,-7.028717,[Boone Trails Grand Towers Gravois Trail New H...,North Star Osage Trailblazers Trails Thunde...,North Star Osage Trailblazers Trails Thunde...,north star osage trailblazers trails thunderbird,north star osage trailblazers trails thunderbird,3,north star trails bird,...,4,4,0,0.570327,4,4,0.571429,0.325901,0,0.000000
7033,World Encyclopedia of Police Forces and Penal ...,World Encyclopedia of Police Forces and Straal...,-7.028717,[],World Encyclopedia of Police Forces and Penal ...,World Encyclopedia of Police Forces and Straal...,world encyclopedia of police forces and penal ...,world encyclopedia of police forces and straal...,1,world encyclopedia police penal systems,...,4,5,1,0.569677,5,4,0.666667,0.379785,1,0.569677
1846,"Faerie Apocalypse, Jason Franks, IFWG Publishi...","Faerie Apocalypse, Jason Franks, IFWG Publishi...",-6.776486,"[Faerie Apocalypse, Jason Franks, IFWG Publish...",", , .",", , .",,,0,,...,0,0,0,0.615833,0,0,0.000000,0.000000,0,0.000000
2163,"Pollock, Griselda, Generations and Geographies...","Pollock, Griselda, Generations and Geographies...",-6.776486,"[Pollock, Griselda, Generations and, the Visua...","Geographies in , , , 1996.","Geographies in , , , 1996.",geographies in,geographies in,1,,...,0,0,0,0.615833,0,0,0.000000,0.000000,0,0.000000
2214,Illustrated Encyclopedia of Woodworking Handto...,Illustrated Encyclopedia of Woodworking Handto...,-6.776486,"[Woodworking Handtools, Instruments & Devices]","Illustrated Encyclopedia of , .","Illustrated Encyclopedia of , .",illustrated encyclopedia of,illustrated encyclopedia of,1,encyclopedia,...,1,1,0,0.524171,1,1,0.500000,0.262085,0,0.000000
2576,"""The Great Reform Act of 1832 and British Demo...","""The Great Reform Act of 1832 and British Demo...",-6.776486,[],"""The Great Reform Act of 1832 and British Demo...","""The Great Reform Act of 1832 and British Demo...",the great reform act of and british democratiz...,the great reform act of and british democracy,0,great reform act british democratization,...,4,5,1,0.661122,5,4,0.800000,0.528898,1,0.661122
2500,"""Radio Birdman"", in The Trouser Press Record G...","""Radio Birdman"", in The Hose Press Record Guid...",-6.629883,[ed],"""Radio Birdman"", in The Trouser Press Record G...","""Radio Birdman"", in The Hose Press Record Guid...",radio birdman in the trouser press record guide,radio birdman in the hose press record guide,2,radio trouser press guide,...,4,4,0,0.661558,4,4,0.666667,0.441038,0,0.000000

In [63]:
# dataset_em.to_pickle('../data/dataset_correlations_v2.pickle')

In [80]:
# import pandas as pd
# dataset_em = pd.read_pickle('../data/dataset_correlations_v2.pickle')

In [3]:
# dataset_em.head()

,sentences_en,sentences_ge,scores,person,sentences_en_no_propnouns,sentences_ge_no_propnouns,sentences_en_clean,sentences_ge_clean,non_translated_words,sentences_en_cleaner,...,sentences_en_final,sentences_ge_final,length_ge,length_en,distance,correlation,embedded_words_matched_max,embedded_words_matched_min,weights,weighted_corr
0,José Ortega y Gasset visited Husserl at Freibu...,1934 besuchte José Ortega y Gasset Husserl in ...,1.101697,"[José Ortega y Gasset, Husserl, Freiburg]",visited at in 1934.,1934 besuchte in .,visited at in,besuchte in,0,visited,...,visited,besuchte,1,1,0,0.518761,1,1,1.000000,0.518761
1,"However, a disappointing ninth in China meant ...",Eine enttäuschende Neunte in China bedeutete j...,-0.516656,[China],"However, a disappointing ninth in meant that ...",Eine enttäuschende Neunte in bedeutete jedoch...,however a disappointing ninth in meant that he...,eine enttäuschende neunte in bedeutete jedoch ...,0,however disappointing ninth meant dropped back...,...,however disappointing ninth meant dropped back...,enttäuschende neunte bedeutete jedoch gesamtwe...,8,8,0,0.619618,8,8,1.000000,0.619618
2,"In his diary, Chase wrote that the release of ...","In seinem Tagebuch, Chase schrieb, dass die Ve...",-2.226388,"[Chase, Mason, Slidell]","In his diary, wrote that the release of and ...","In seinem Tagebuch, schrieb, dass die Veröffe...",in his diary wrote that the release of and was...,in seinem tagebuch schrieb dass die veröffentl...,0,diary wrote release like gall wormwood,...,diary wrote release like gall wormwood,tagebuch schrieb veröffentlichung galle wermut,5,6,1,0.633080,6,5,0.833333,0.527567
3,Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,-0.827379,[],Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,heavy arquebuses mounted on wagons were called...,schwere arquebuses auf waggons montiert wurden...,4,heavy mounted wagons called,...,heavy mounted wagons called,schwere waggons montiert wurden genannt,5,4,-1,0.626568,5,4,0.444444,0.278475
4,Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,0.364695,[],Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,once north pacific salmon die off after spawni...,sobald der nordpazifische lachs nach dem laich...,0,north pacific salmon die spawning usually loca...,...,north pacific salmon die spawning usually loca...,sobald lachs laichen abstirbt fressen regel lo...,11,14,3,0.583080,14,11,0.785714,0.458134